<html>
<head>
  <meta charset="UTF-8">
  <title>Tryeng Login</title>
</head>

<body class="container-fluid" style="height: 100vh; background: #dae8e0">

<div class="container register-form text-center" [formGroup]="form" (ngSubmit)="register()">
  <div class="col text-center">
    <h1 class="display-3">Реєстрація</h1>
  </div>
  <div class="col text-center">
    <input class="inputs" type="email" id="email" formControlName="email" placeholder="Email" required>
  </div>
  <div class="col text-center">
    <input class="inputs" type="password" id="password" formControlName="password" placeholder="Пароль" required>
  </div>
  <div class="col text-center">
    <input class="inputs" type="password"
           id="confirm_password" formControlName="confirm_password" placeholder="Підтвердіть пароль" required>
  </div>

  <button class="btn-dark register-btn"
          (click)="register()" [disabled]="form.invalid || form.disabled || confirmPassword()">
    Створити акаунт
  </button>

</div>

</body>

</html>
